# Ignore everything...
/*

# Except what needs to be published
!/src
!/lib
!register.js
!package.json
!CHANGELOG.md
!LICENSE
!README.md

# Unless it's tests
**/__tests__/
**/__stories__/
*.test.{js,ts,tsx}
